.mes-collapse-summary {
    cursor: pointer;
    font-size: 0.95em;
    opacity: 0.65;
    box-sizing: border-box;
    user-select: none;
    transition: opacity 0.2s;
}

.mes-collapse-summary:hover {
    opacity: 0.9;
}

.mes-collapse-btn {
    cursor: pointer;
}
